<!-- wp:group {"backgroundColor":"white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-white-background-color has-background"><!-- wp:template-part {"slug":"header","theme":"blocktheme1","area":"header"} /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"66.66%","style":{"spacing":{"blockGap":"0","padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
<div class="wp-block-column" style="padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);flex-basis:66.66%"><!-- wp:query {"queryId":21,"query":{"perPage":2,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"elements":{"link":{"color":{"text":"var:preset|color|black"}}},"color":{"text":"#333333"},"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"radius":"10px"}},"fontSize":"small","layout":{"type":"default","columnCount":3}} -->
<!-- wp:group {"style":{"color":{"background":"#b9e6d43d","text":"#333333"},"elements":{"link":{"color":{"text":"#333333"}}},"spacing":{"margin":{"top":"var:preset|spacing|60","bottom":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}},"border":{"radius":"10px","style":"dashed"}},"borderColor":"light-green-cyan","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-light-green-cyan-border-color has-text-color has-background has-link-color" style="border-style:dashed;border-radius:10px;color:#333333;background-color:#b9e6d43d;margin-top:var(--wp--preset--spacing--60);margin-bottom:0;padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:post-title {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"0","left":"0","right":"0"}}}} /-->

<!-- wp:post-date {"style":{"spacing":{"padding":{"right":"0","left":"0"}},"elements":{"link":{"color":{"text":"var:preset|color|vivid-green-cyan"}}}},"textColor":"vivid-green-cyan"} /-->

<!-- wp:post-excerpt {"textAlign":"left","moreText":"\u003cstrong\u003eRead More\u003c/strong\u003e","style":{"spacing":{"padding":{"right":"0","left":"0","bottom":"var:preset|spacing|50"},"margin":{"right":"0","left":"0"}}}} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:spacer {"height":"35px"} -->
<div style="height:35px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:query-pagination {"paginationArrow":"arrow","align":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"1px","textTransform":"capitalize"},"elements":{"link":{"color":{"text":"var:preset|color|vivid-green-cyan"}}},"color":{"text":"#333333"}},"layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:query-pagination-previous {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"1px"}}} /-->

<!-- wp:query-pagination-numbers {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"5px","textTransform":"none"}},"backgroundColor":"white"} /-->

<!-- wp:query-pagination-next {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","letterSpacing":"1px"}}} /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p>No Post Available</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"33.33%","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}}} -->
<div class="wp-block-column" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50);flex-basis:33.33%"><!-- wp:search {"label":"Search","placeholder":"  ","buttonText":"Search"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":5,"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} -->
<h5 class="wp-block-heading" style="margin-top:var(--wp--preset--spacing--70)">Recent Post</h5>
<!-- /wp:heading -->

<!-- wp:latest-posts {"excerptLength":20,"style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-green-cyan"}}},"color":{"text":"#333333"},"typography":{"letterSpacing":"1px"},"spacing":{"margin":{"top":"10px","bottom":"10px"},"padding":{"top":"0","bottom":"0"}},"border":{"width":"0px","style":"none"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":5,"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} -->
<h5 class="wp-block-heading" style="margin-top:var(--wp--preset--spacing--70)">Category</h5>
<!-- /wp:heading -->

<!-- wp:categories {"showPostCounts":true,"showOnlyTopLevel":true,"showEmpty":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-green-cyan"}}},"color":{"text":"#333333"},"typography":{"letterSpacing":"1px"},"spacing":{"margin":{"right":"-20px","left":"-20px","top":"10px","bottom":"10px"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":5,"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} -->
<h5 class="wp-block-heading" style="margin-top:var(--wp--preset--spacing--70)">Tags</h5>
<!-- /wp:heading -->

<!-- wp:categories {"taxonomy":"post_tag","showPostCounts":true,"showOnlyTopLevel":true,"showEmpty":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-green-cyan"}}},"color":{"text":"#333333"},"typography":{"letterSpacing":"1px"},"spacing":{"margin":{"right":"-24px","left":"-24px","top":"10px","bottom":"10px"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":5,"style":{"spacing":{"margin":{"top":"var:preset|spacing|70"}}}} -->
<h5 class="wp-block-heading" style="margin-top:var(--wp--preset--spacing--70)">Archive</h5>
<!-- /wp:heading -->

<!-- wp:archives {"showPostCounts":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-green-cyan"}}},"color":{"text":"#333333"},"typography":{"letterSpacing":"1px"},"spacing":{"margin":{"right":"0px","left":"0px","top":"10px","bottom":"10px"},"padding":{"right":"0px","left":"0px"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer","theme":"blocktheme1","area":"footer"} /--></div>
<!-- /wp:group -->